<div class="modal-header">
    <h5 class="modal-title">Roles</h5>
</div>

<div class="modal-body">
    <div class="row">
        <div class="row form-group">
            <label class="control-label col-sm-2">Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="roleGroupName" name="roleGroupName" ng-model="vm.model.roleGroupName" placeholder="Name">
                <div class="invalid-feedback"></div>
            </div>
        </div>

        <div class="row form-group">
            <label class="control-label col-sm-2">Position:</label>
            <div class="col-sm-6">
                <select id="position_fk" name="position_fk" class="form-control input-lg" size="0" ng-model="vm.model.userPk" required>
                    <option ng-repeat="x in vm.formData.users" ng-value="x.user_pk">{{x.username}}</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button id="saveButton" class="btn btn-primary" type="button">Save</button>
    <button id="cancelButton" class="btn btn-default" type="button">Cancel</button>
</div>