<div class="modal-header">
    <h6 class="modal-title">Mapping User to Role Group</h6>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group">
                        <label class="control-label col-sm-4">Role Title :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="title" ng-model="vm.model.title" name="title"
                                   placeholder="Role Title">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-sm-4">Description :</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" ng-model="vm.model.description" name="description" placeholder="Description">
                                        </textarea>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">Simpan</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
</div>