<div class="animated fadeIn">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title">Tambah Aset</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row col-sm-12 form-group">
                                <img id="photoAset" src="/app/assets/images/tower-bts.jpg" class="img-center img-fluid" />
                            </div>
                            <div class="col-sm-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="filePhoto" aria-describedby="inputGroupFileAddon01">
                                    <label id="fileName" class="custom-file-label" for="filePhoto">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row form-group">
                                <label class="control-label col-sm-2">Kategory Asset :</label>
                                <div class="col-sm-6">
                                    <select id="kategoriAset_fk" name="kategoriAset_fk" class="form-control input-lg" size="0" ng-model="asetVm.model.kategoriAset_fk" required>
                                        <option ng-repeat="x in asetVm.formData.asetKategoris" ng-value="x.asetKategori_pk">{{x.title}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="control-label col-sm-2">Asset ID:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="asetId" name="asetId" class="form-control" ng-model="asetVm.model.asetId" required />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="control-label col-sm-2">Nama Asset :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="name" name="name" class="form-control" ng-model="asetVm.model.name" required />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
 
                            <div class="row form-group">
                                <label class="control-label col-sm-2">Deskripsi :</label>
                                <div class="col-sm-8">
                                    <textarea id="description" name="description" class="form-control" ng-model="asetVm.model.description"></textarea>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-8">
                            <button class="btn btn-default" ui-sref="app.asetList">Kembali</button>
                            <button class="btn btn-success float-right" id="saveButton">Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>