<div class="sidebar" ng-controller="sidebarCtrl as vm">
    <div class="company-info">
        <div class="company-icon">
            <i class="fas fa-broadcast-tower"></i>
        </div>
        <div class="company-title">
            Global One Solusindo
        </div>
    </div>
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.dashboard">
                    <i class="fas fa-home"></i> <span>Homepage</span>
                </a>
            </li>
        </ul>
        <ul class="nav" ng-repeat="groupMenu in vm.treeMenu.groupMenus">
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.availability')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.availability')}" href="#">
                    <i class="fa fa-list-alt"></i> <span>{{groupMenu.groupName}}</span>
                </a>
                <ul class="nav-dropdown-items" ng-repeat="menu in groupMenu.menus">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="{{menu.path}}">
                            <i class="fa fa-circle"></i> <span>{{menu.caption}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>