<div class="animated fadeIn">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title">Tambah RoleGroup</div>
                    <div class="col-md-8">
                        <div class="row form-group">
                            <label class="control-label col-sm-2">Role Group Name :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" ng-model="vm.model.title" name="title"
                                    placeholder="Role Group Name">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="control-label col-sm-2">Description :</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="vm.model.description" name="description" placeholder="Description">
                                        </textarea>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><button class="btn btn-success"
                                    id="saveButton">Tambah RoleGroup</button>
                                    <button class="btn btn-default ml-1" ui-sref="app.roleGroupList">Kembali</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>