<div class="animated fadeIn">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title">Change Password</div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" autocomplete="off" ng-model="vm.model.currentPassword" placeholder="Current Password">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="control-label col-sm-3">Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" autocomplete="off" ng-model="vm.model.newPassword" placeholder="New Password">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="control-label col-sm-3">Retype Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="reTypeNewPassword" name="reTypeNewPassword" autocomplete="off" ng-model="vm.model.reTypeNewPassword" placeholder="Retype New Password">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button class="btn btn-success float-right" id="saveButton">Change Password</button>
                            <button class="btn btn-default" ui-sref="app.changePasswordList">Kembali</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>