<div class="animated fadeIn">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title">Add SOW</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row form-group">
                                <label class="control-label col-sm-3">PMOUniq:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="pmouniq" name="pmouniq" class="form-control" ng-model="vm.model.pmouniq">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">SOW (PO):</label>
                                <div class="col-sm-6">
                                    <select id="sowName" name="sowName" class="form-control input-lg" ng-model="vm.model.sowName" required>
                                        <option ng-repeat="x in vm.formData.sownames" ng-value="x.sowNames">{{x.sowNames}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Project Name:</label>
                                <div class="col-sm-6">
                                    <select id="project_fk" name="project_fk" class="form-control input-lg" ng-model="vm.model.project_fk" required>
                                        <option ng-repeat="x in vm.formData.projects" ng-value="x.project_pk">{{x.operatorTitle + ' - ' + x.vendorTitle + ' - ' + x.deliveryAreaTitle}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Site Name:</label>
                                <div class="col-sm-6">
                                    <select id="bts_fk" name="bts_fk" class="form-control input-lg" ng-model="vm.model.bts_fk" required>
                                        <option ng-repeat="x in vm.formData.btses" ng-value="x.bts_pk">{{x.name}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">CO date :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="codate" name="codate" ng-model="vm.model.codate" class="form-control" date-time-picker options="{ format: 'DD-MM-YYYY' }" required />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Assignment Date:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="tglMulai" name="tglMulai" ng-model="vm.model.tglMulai" class="form-control" date-time-picker options="{ format: 'DD-MM-YYYY' }" required />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Technology:</label>
                                <div class="col-sm-6">
                                    <select id="technology_fk" name="technology_fk" class="form-control input-lg" ng-model="vm.model.technology_fk" required>
                                        <option ng-repeat="x in vm.formData.technologies" ng-value="x.technology_pk">{{x.title}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">DUID:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="duid" name="duid" class="form-control" ng-model="vm.model.duid" placeholder="DUID" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">LV Date:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="lvdate" name="lvdate" ng-model="vm.model.lvdate" class="form-control" date-time-picker options="{ format: 'DD-MM-YYYY' }" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Accepted Date:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="accdate" name="accdate" ng-model="vm.model.accdate" class="form-control" date-time-picker options="{ format: 'DD-MM-YYYY' }" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-title">Assign</div>
                        </div>
                        <div class="col-md-6">
                            <table id="sowAssign" class="table table-sm">
                                <thead>
                                    <tr>
                                        <th hidden>SOWAssign_PK</th>
                                        <th hidden>SOW FK</th>
                                        <th hidden>Jabatan FK</th>
                                        <th>Jabatan</th>
                                        <th>User</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sowAssign in vm.model.sowAssigns">
                                        <td hidden>
                                            <input type="text" id="sowAssign_pk" name="sowAssign_pk" ng-model="sowAssign.sowAssign_pk" disabled />
                                            <div class="invalid-feedback"></div>
                                        </td>
                                        <td class="text-center" hidden>
                                            <input type="text" id="sow_fk" name="sow_fk" ng-model="sowAssign.sow_fk" disabled />
                                            <div class="invalid-feedback"></div>
                                        </td>
                                        <td class="text-left" hidden>
                                            <input type="text" id="kategoriJabatan_fk" name="kategoriJabatan_fk" class="form-control" ng-model="sowAssign.kategoriJabatan_fk" disabled />
                                            <div class="invalid-feedback"></div>
                                        </td>
                                        <td class="text-left">
                                            <input type="text" id="kategoriJabatanTitle" name="kategoriJabatanTitle" class="form-control" ng-model="sowAssign.kategoriJabatanTitle" disabled />
                                            <div class="invalid-feedback"></div>
                                        </td>
                                        <td>
                                            <ui-select id="user_fk" name="user_fk" ng-model="sowAssign.user_fk" size="0" theme="select2" ng-disabled="sowAssign.createdBy" title="Find user"
                                                       required style="width:200px">
                                                <ui-select-match placeholder="Find user">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices refresh="vm.getUsers(sowAssign.kategoriJabatan_fk, $select.search)" refresh-delay="0" repeat="user.user_pk as user in vm.formData.users">
                                                    <div>
                                                        <strong>
                                                            {{user.name }}
                                                        </strong>
                                                    </div>
                                                    <div>
                                                        {{"Username: " + user.username}}
                                                    </div>
                                                    <div style="margin:2px; border-bottom:1px solid #ccc">
                                                        {{"Email: " + user.email}}
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <div class="invalid-feedback"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8">
                            <button class="btn btn-success" id="saveButton">Save</button>
                            <button class="btn btn-default ml-1" ui-sref="app.sowList">Back</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Track / Route</div>
                    <div ng-repeat="sowTrack in vm.model.sowTracks">

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Job Type:</label>
                                <div class="col-sm-9">
                                    <select id="tipePekerjaan_fk2" name="tipePekerjaan_fk2" class="form-control" ng-model="vm.model.sowTracks[1].tipePekerjaan_fk" required>
                                        <option value="0">None</option>
                                        <option value="2">SSO</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="kmlFile1" aria-describedby="inputGroupFileAddon01">
                                        <label id="fileName1" class="custom-file-label" for="filePhoto">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <textarea ng-model="vm.model.sowTracks[1].route" hidden></textarea>
                            <div id="map1" style="border:1px solid gray; height:500px">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row form-group">
                                <label class="control-label col-sm-3">Job Type:</label>
                                <div class="col-sm-9">
                                    <select id="tipePekerjaan_fk1" name="tipePekerjaan_fk1" class="form-control" ng-model="vm.model.sowTracks[0].tipePekerjaan_fk" required>
                                        <option value="0">None</option>
                                        <option value="1">SSV</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="kmlFile2" aria-describedby="inputGroupFileAddon01">
                                        <label id="fileName2" class="custom-file-label" for="filePhoto">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <textarea ng-model="vm.model.sowTracks[0].route" hidden></textarea>
                            <div id="map2" style="border:1px solid gray; height:500px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>