<div class="animated fadeIn">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">

                <div style="height:500px;">
                    <div class="card h-100">
                        <div class="card-title">Tambah Project</div>
                        <div class="col-md-8">
                            <div class="row form-group">
                                <label class="control-label col-sm-2">Operator:</label>
                                <div class="col-sm-6">
                                    <select id="operator_fk" name="operator_fk" class="form-control input-lg" ng-model="vm.model.operator_fk" required>
                                        <option ng-repeat="x in vm.formData.operators" ng-value="x.operator_pk">{{x.title}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-2">Vendor:</label>
                                <div class="col-sm-6">
                                    <select id="vendor_fk" name="vendor_fk" class="form-control input-lg" ng-model="vm.model.vendor_fk" required>
                                        <option ng-repeat="x in vm.formData.vendors" ng-value="x.vendor_pk">{{x.title}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-2">Delivery Area:</label>
                                <div class="col-sm-6">
                                    <select id="deliveryArea_fk" name="deliveryArea_fk" class="form-control input-lg" ng-model="vm.model.deliveryArea_fk" required>
                                        <option ng-repeat="x in vm.formData.deliveryAreas" ng-value="x.deliveryArea_pk">{{x.title}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-sm-2">Project Manager:</label>
                                <div class="col-sm-6">
                                    <select id="user_fk" name="user_fk" class="form-control input-lg" ng-model="vm.model.user_fk" required>
                                        <option ng-repeat="x in vm.formData.users" ng-value="x.user_pk">{{x.name}}</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <button class="btn btn-success" id="saveButton">Simpan</button>
                                    <button class="btn btn-default ml-1" ui-sref="app.projectList">Kembali</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>