<div class="animated fadeIn">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-title">SOW Detail</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label col-sm-2">SOW:</label>
                                    <label class="control-label col-sm-6" id="sowName" name="sowName">{{vm.model.sowName}}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-sm-3">Assign Date:</label>
                                    <label class="control-label col-sm-6" id="tglMulai" name="tglMulai">{{vm.model.tglMulai | date: 'dd-MM-yyyy'}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <!--Site Info-->
                                <div class="col-md-6">
                                    <div class="card-title">Site Info</div>
                                    <!--<div class="row">
                            <label class="control-label col-sm-3">Customer Site</label>
                            <label class="control-label col-sm-6" id="customerSite" name="customerSite">{{vm.model.btsInfo.customerSite}}</label>
                        </div>-->
                                    <div class="row">
                                        <label class="control-label col-sm-3">Site ID PO</label>
                                        <label class="control-label col-sm-6" id="towerId" name="towerId">{{vm.model.btsInfo.towerId}}</label>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-sm-3">Cell ID</label>
                                        <label class="control-label col-sm-6" id="cellId" name="cellId">{{vm.model.btsInfo.cellId}}</label>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-sm-3">Site Name</label>
                                        <label class="control-label col-sm-6" id="name" name="name">{{vm.model.btsInfo.name}}</label>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-sm-3">Tower Provider</label>
                                        <label class="control-label col-sm-6" id="operatorTitle" name="operatorTitle">{{vm.model.btsInfo.operatorTitle}}</label>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-sm-3">Longitude</label>
                                        <label class="control-label col-sm-6" id="longitude" name="longitude">{{vm.model.btsInfo.longitude}}</label>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-sm-3">Latitude</label>
                                        <label class="control-label col-sm-6" id="latitude" name="latitude">{{vm.model.btsInfo.latitude}}</label>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-sm-3">Area</label>
                                        <label class="control-label col-sm-6" id="areaTitle" name="areaTitle">{{vm.model.btsInfo.areaTitle}}</label>
                                    </div>
                                    <!--<div class="row">
                            <label class="control-label col-sm-3">Kota</label>
                            <label class="control-label col-sm-6" id="kotaTitle" name="kotaTitle">{{vm.model.btsInfo.kotaTitle}}</label>
                        </div>
                        <div class="row">
                            <label class="control-label col-sm-3">Cabang</label>
                            <label class="control-label col-sm-6" id="cabangTitle" name="cabangTitle">{{vm.model.btsInfo.cabangTitle}}</label>
                        </div>-->
                                    <div class="row">
                                        <label class="control-label col-sm-3">Address</label>
                                        <label class="control-label col-sm-6" id="alamat" name="alamat">{{vm.model.btsInfo.alamat}}</label>
                                    </div>
                                </div>

                                <!--Assigned User-->
                                <div class="col-md-6">
                                    <div class="card-title">Assigned User</div>
                                    <div class="row form-group">
                                        <table id="sowAssign">
                                            <thead>
                                                <tr>
                                                    <th hidden>SOWAssign_PK</th>
                                                    <th hidden>SOW FK</th>
                                                    <th hidden>Jabatan FK</th>
                                                    <th>Jabatan</th>
                                                    <th>User</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sowAssign in vm.model.sowAssigns">
                                                    <td hidden>
                                                        <input type="text" id="sowAssign_pk" name="sowAssign_pk" ng-model="sowAssign.sowAssign_pk" disabled />
                                                    </td>
                                                    <td class="text-center" hidden>
                                                        <input type="text" id="sow_fk" name="sow_fk" ng-model="sowAssign.sow_fk" disabled />
                                                    </td>
                                                    <td class="text-left" hidden>
                                                        <input type="text" id="kategoriJabatan_fk" name="kategoriJabatan_fk" class="form-control" ng-model="sowAssign.kategoriJabatan_fk" disabled />
                                                    </td>
                                                    <td class="text-left" style="width:200px">
                                                        <label id="kategoriJabatanTitle" name="kategoriJabatanTitle">{{sowAssign.kategoriJabatanTitle}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="userName" name="userName"> {{sowAssign.userName}}</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default" ui-sref="app.sowList">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-title">Task Link</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="link">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Position</th>
                                                <th>Name</th>
                                                <th>Link / SSO</th>
                                                <th>SSV</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-title">Issue List</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="sowissue">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Position</th>
                                                <th>Issue</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-title">Track Location</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <label class="control-label col-sm-3">Job Type:</label>
                                        <div class="col-sm-9">
                                            <select id="tipePekerjaan_fk1" name="tipePekerjaan_fk1" class="form-control" ng-model="vm.model.sowTracks[0].tipePekerjaan_fk + ''" disabled>
                                                <option value="0">None</option>
                                                <option value="1">SSO</option>
                                                <option value="2">SSV</option>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <textarea ng-model="vm.model.sowTracks[0].route" hidden></textarea>
                                    <div id="map1" style="border:1px solid gray; height:500px">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <label class="control-label col-sm-3">Job Type:</label>
                                        <div class="col-sm-9">
                                            <select id="tipePekerjaan_fk2" name="tipePekerjaan_fk2" class="form-control" ng-model="vm.model.sowTracks[1].tipePekerjaan_fk + ''" disabled>
                                                <option value="0">None</option>
                                                <option value="1">SSO</option>
                                                <option value="2">SSV</option>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <textarea ng-model="vm.model.sowTracks[1].route" hidden></textarea>
                                    <div id="map2" style="border:1px solid gray; height:500px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-title">List Cost</div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <button id="addCost" class="btn btn-success">Add Cost</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="cost">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Category</th>
                                                <th>Input Date</th>
                                                <th>Nominal</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>