<div class="animated fadeIn">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title">Pengajuan Izin Cuti</div>
                    <div class="col-md-12">
                        <div class="row form-group">
                            <label class="control-label col-sm-2" hidden>User fk:</label>
                            <div class="col-sm-2" hidden>
                                <input type="text" id="user_fk" name="user_fk" class="form-control" ng-model="vm.model.user_fk" placeholder="User ID" disabled>
                                <div class="invalid-feedback"></div>
                            </div>

                            <label class="control-label col-sm-2">Nama Pengaju:</label>
                            <div class="col-sm-3">
                                <input type="text" id="userIzinCutiName" name="userIzinCutiName" class="form-control" ng-model="vm.model.userIzinCutiName" placeholder="Nama Pengaju" disabled>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-2">Posisi:</label>
                            <div class="col-sm-2">
                                <input type="text" id="userIzinCutiJabatan" name="userIzinCutiJabatan" class="form-control" ng-model="vm.model.userIzinCutiJabatan" placeholder="Posisi" disabled>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-2">Tanggal Mulai:</label>
                            <div class="col-sm-2">
                                <input type="text" id="tglMulai" name="tglMulai" ng-model="vm.model.tglMulai" class="form-control" date-time-picker options="{ format: 'DD/MM/YYYY' }" required />
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-2">Tanggal Selesai:</label>
                            <div class="col-sm-2">
                                <input type="text" id="tglSelesai" name="tglSelesai" ng-model="vm.model.tglSelesai" class="form-control" date-time-picker options="{ format: 'DD/MM/YYYY' }" required />
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-2">Alasan:</label>
                            <div class="col-sm-8">
                                <textarea id="alasan" name="alasan" class="form-control" ng-model="vm.model.alasan" placeholder="Alasan"></textarea>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-default float-right" ui-sref="app.izinCutiList">Kembali</button>
                                <button class="btn btn-success" id="saveButton">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>